.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style: none;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
.allPokemon {
  width: 500px;
}
.singlePokemon {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
form {
  margin: 10px 0;
}

input {
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
.heartOutline {
  font-size: 2rem;
  cursor: pointer;
}
