.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
.allPokemon {
  width: 500px;
}
.singlePokemon {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
form {
  margin: 10px 0;
}

input {
  font-size: 1.5rem;
  width: 200px;
  box-sizing: border-box;
}
.heartOutline {
  font-size: 2rem;
  cursor: pointer;
}

.nav-bar {
  background-color: rgb(38, 38, 38);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav-link, .nav-logout {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-active {
  color: crimson;
}

.nav-link:hover, .nav-logout:hover {
  color: crimson;
  cursor: pointer;
}

.nav-side-margin {
  width: 5%;
}